main{
    width: 100vw;
    height: 100vh;
}

section{
    background-color: lightgray;
    height: 35vh;
    border-radius: 10px;
    border: 1px solid yellow;
}

form{
    padding: 20px 300px;
}

.my-text-orange{
    color: orange ;
}

.my-text-gray{
    color: lightslategray;
}

.my-heigth{
    height: 80%;
}

.my-bg-green,
main{
    background-color: chartreuse;
}

.my-border{
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

#userNameInput,
#tripLengthInput,
#userAgeInput{
    border: 1px solid chartreuse;
    border-radius: 15px;
}