main{
    width: 100vw;
    height: 100vh;
    background-color: chartreuse;
}

section{
    background-color: lightgray;
    height: 35vh;
    border: 1px solid yellow;
    border-radius: 10px;
}

form{
    padding: 20px 300px;
}

.my-text-orange{
    color: orange ;
}

.my-text-gray{
    color: lightslategray;
}

#username,
#triplength,
#userage{
    border: 1px solid chartreuse;
    border-radius: 15px;
}